* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* NAVBAR SECTION */

.wrapper {
  display: flex;
  flex-direction: column;
}

.nav-container {
  display: flex;
  flex-direction: row;
  padding: 6px;
  height: 60px;
  align-items: center;
}

.nav-link-container {
  margin-left: auto;
  font-weight: 700;
}

.nav_link {
  padding: 0 10px;
}

/* MAIN/HERO SECTION */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-header {
  padding: 100px 0 35px;
}

h1 {
  font-size: 10rem;
}

.form-container {
}

.form-group {
  display: flex;
  justify-content: space-around;
}

.search-bar {
  width: 40vw;
  padding: 12px;
  border-radius: 25px;
  font-size: 20px;
  border: 3px solid #bec0c3;
}

input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  font-weight: 500;
  font-size: 20px;
}

input[type="submit"]:hover {
  border: 1px solid #bec0c3;
}

/* Advanced search */
.advanced-wrapper {
  margin-left: 30px;
}

.advanced-container {
}

.advanced-search {
  width: 100%;
  height: 40px;
}

.criterion {
  float: left;
  padding: 15px;
}

.search-input {
  float: left;
  padding: 15px;
}
