* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* NAVBAR SECTION */

.wrapper {
  display: flex;
  flex-direction: column;
}

.nav-container {
  display: flex;
  flex-direction: row;
  padding: 6px;
  height: 60px;
  align-items: center;
}

.nav-link-container {
  margin-left: auto;
  font-weight: 700;
}

.nav_link {
  padding: 0 10px;
}

/* MAIN/HERO SECTION */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
